*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  color: #303030;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@font-face {
  font-family: f1;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: f2;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: f3;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body,
html {
  font-family: "Roboto";
  font-size: 14px;
  color: #303030;
  height: 100%;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}

.wrapper-content {
  position: relative;
  margin: 0 auto;
  padding-bottom: 80px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-up {
  width: 100%;
  position: relative;
  padding: 24px 0;
  line-height: 1;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-up .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-up.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-up .svg-location-dims {
  width: 12px;
  height: 16px;
}

.header-up .left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-up .left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .left .content .value {
  margin: 0 8px 0 10px;
  min-width: 150px;
}

.header-up .left .content .value::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  margin-left: 8px;
  background: url("../img/arrow-down.svg") 0 0 no-repeat;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .left .content:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .left .location {
  padding: 12px 0;
  position: relative;
  cursor: pointer;
}

.header-up .left .location.active .value::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .left .location .toggle-list {
  width: 197px;
}

.header-up .left .toggle-list {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
}

.header-up .left .toggle-list .item {
  cursor: pointer;
  position: relative;
  padding: 9px 24px;
  font-weight: 400;
  line-height: 1;
}

.header-up .left .toggle-list .item:hover {
  background-color: #f8f8f8;
}

.header-up .left .toggle-list .item.active::after {
  content: "";
  margin-left: 11.5px;
  display: inline-block;
  width: 11px;
  height: 8px;
  background: url("../img/check.svg") 0 0 no-repeat;
}

.header-up .left .toggle-list-block {
  padding: 16px 0;
}

.header-up .left .block {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .left .block .svg-phone-dims {
  width: 16px;
  height: 16px;
}

.header-up .left .block .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.header-up .left .block:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .mid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header-up .mid .svg-logo-dims {
  width: 180px;
  height: 36px;
}

.header-up .mid p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.27em;
  color: #919191;
}

.header-up .right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-up .right .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-up .right .login {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .right .login:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .right .register {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .right .register:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .right span {
  height: 10px;
  display: inline-block;
  border-left: 1px solid #303030;
  padding-left: 10px;
  margin-left: 10px;
}

.header-up .right .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.header-up .right .actions .svg-heart-dims {
  width: 18px;
  height: 15px;
}

.header-up .right .actions .svg-chart-dims {
  width: 13px;
  height: 15px;
}

.header-up .right .actions .svg-bag-dims {
  width: 16px;
  height: 16px;
}

.header-up .right .actions .action {
  position: relative;
  width: 32px;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-up .right .actions .action:hover {
  background-color: #f8f8f8;
}

.header-up .right .actions .action .count-like {
  position: absolute;
  top: -2px;
  right: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  padding-left: 6px;
  font-size: 12px;
  padding-right: 5px;
  line-height: 1;
  padding-top: 2px;
  color: #ffffff;
  background-color: #e46942;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.header-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  padding: 0 50px;
}

.header-down .menu-wrapper {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.header-down .menu-wrapper ul {
  gap: 50px;
  font-size: 13px;
}

.header-down .menu-wrapper ul .disabled {
  opacity: 0.5;
  pointer-events: none;
}

.header-down .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

.header-down .search .svg-search-dims {
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.header-down .search input::-webkit-input-placeholder {
  background-color: #f8f8f8;
  color: #bbb9b9;
}

.header-down .search input::-moz-placeholder {
  background-color: #f8f8f8;
  color: #bbb9b9;
}

.header-down .search input:-ms-input-placeholder {
  background-color: #f8f8f8;
  color: #bbb9b9;
}

.header-down .search input::-ms-input-placeholder {
  background-color: #f8f8f8;
  color: #bbb9b9;
}

.header-down .search input::placeholder {
  background-color: #f8f8f8;
  color: #bbb9b9;
}

.header-down .search input {
  background-color: #f8f8f8;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__item-link:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  background-color: #131418;
  height: 1px;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  -o-transition: 0.5s transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.menu__item-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.slider {
  overflow: hidden;
  position: relative;
  background-color: #f8f8f8;
}

.slider .body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.slider .prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .prev:hover img {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.slider .btn.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  border: 1px solid #303030;
}

.slider .btn.circle img {
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inline-block;
}

.slider .btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.slider .svg-arrow-left-dims {
  width: 17px;
  height: 8px;
}

.slider .next {
  position: absolute;
  top: 45%;
  right: 24px;
}

.slider .next:hover img {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.slider .btn {
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider .svg-arrow-right-dims {
  width: 17px;
  height: 8px;
}

.slider .dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 24px;
}

.slider .dots .dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #303030;
}

.slider .dots .dot.active {
  background-color: #303030;
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .info .desc {
  font-size: clamp(15px, 5vw, 25px);
  line-height: 1;
}

.item .info .title {
  font-family: "Prata";
  margin-top: 30px;
  font-size: clamp(29px, 5vw, 50px);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.item .info .btn.primary {
  margin-top: 54px;
  height: 54px;
  background-color: #303030;
  text-transform: uppercase;
  color: #ffffff;
}

.item .info .primary {
  min-width: 200px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.item .info .primary:hover {
  opacity: 0.9;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.item .image {
  display: block;
  margin-top: 12px;
  margin-right: 36px;
}

.popular {
  margin-top: 170px;
}

.popular .heading.lv2 {
  margin-bottom: 40px;
}

.popular .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

.popular .row .column {
  height: auto;
  padding: 0 10px;
  width: 100%;
}

.popular .row .card {
  cursor: pointer;
  height: 259px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 0 !important;
}

.popular .row .card:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.popular .row .card img {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.popular .row .card:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.popular .row .image-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular .name {
  height: 57px;
  padding: 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 1;
  font-size: 1.4rem;
}

.container_3 {
  margin-top: 120px;
}

.container_3 .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_3 .head .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_3 .head .types .btn.rounded {
  height: 40px;
  min-width: 110px;
  background-color: #f0f0f0;
  border-radius: 999px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  font-size: 15px;
}

.container_3 .head .types .btn.rounded:hover {
  background-color: #dddddd;
}

.container_3 .head .types .btn.type.active {
  background-color: #303030;
  color: #fff;
}

.container_3 .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.container_3 .btn {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  padding: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.container_3 .btn.circle {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  border: 1px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_3 .btn.circle img {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container_3 .btn.circle:hover img {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container_3 .btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row.first {
  row-gap: 0;
}

.row .column {
  width: 100%;
  padding: 0 10px;
  height: 500px;
}

.row .column .card {
  position: relative;
  padding: 40px 24px 24px;
  border: 1px solid #f0f0f0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.row .column .card:hover {
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.row .column .card:hover .foot {
  display: block;
}

.row .column .card .tag {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 16px;
  left: 24px;
  width: 50px;
  height: 21px;
  border-radius: 999px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: white;
  background-color: #5b8a8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .column .card .thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row .column .card .thumb .dots {
  bottom: 6px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.row .column .card .thumb .dots .dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #303030;
}

.row .column .card .thumb .dots .dot.active {
  background-color: #303030;
}

.row .column .card .price-block {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 21px;
}

.row .column .card .price-block .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row .column .card .price-block .price .price-current {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1;
}

.row .column .card .price-block .price .price-old {
  margin-left: 8px;
  line-height: 1;
  text-decoration-line: line-through;
  opacity: 0.8;
}

.row .column .card .price-block .pracent {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: white;
  width: 50px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e24b33;
  border-radius: 999px;
}

.row .column .card .desc {
  height: 44px;
  margin-top: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
}

.row .column .card .foot {
  margin-top: 24px;
  display: none;
}

.row .column .card .foot .choose {
  height: 40px;
  position: relative;
  cursor: pointer;
  padding: 9px 16px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .column .card .foot .choose:nth-child(even) {
  margin-top: 8px;
}

.row .column .card .foot .choose::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url("../img/arrow-down.svg") 0 0 no-repeat;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.row .column .card .foot .choose .value {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.row .column .card .foot .choose .toggle-list {
  display: block;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.row .column .card .foot .choose .toggle-list .item {
  cursor: pointer;
  position: relative;
  padding: 9px 24px;
  line-height: 1;
  font-size: 16px;
}

.row .column .card .foot .choose .toggle-list .item:hover {
  background-color: #fafafa;
}

.row .column .card .foot .choose .toggle-list .item.active::after {
  content: "";
  margin-left: 11.5px;
  display: inline-block;
  width: 11px;
  height: 8px;
  background: url("../img/check.svg") 0 0 no-repeat;
}

.row .column .card .foot .choose.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.row .column .card .foot .choose .toggle-list-block {
  padding: 16px 0;
}

.row.second .column {
  width: 100%;
  padding: 0 10px;
  height: auto;
}

.row .adv {
  position: relative;
  height: 290px;
  background-color: #f8f8f8;
  padding: 72px 26px 48px;
}

.row .adv .desc {
  position: relative;
  z-index: 2;
  max-width: 198px;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
  font-size: 20px;
}

.row .adv .pracent {
  background-color: #43807f;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 194px;
  height: 52px;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -24px;
}

.row .adv .pracent span {
  font-family: f1;
  font-weight: 600;
  line-height: 1.6;
  color: white;
  font-size: 30px;
}

.row .adv .pracent .number {
  margin-left: 13px;
  font-size: 35px;
}

.row .adv .image {
  position: absolute;
  right: 18px;
  bottom: 0;
}

.row .adv .image.sal {
  right: 0;
}

.row .adv.two .pracent {
  background-color: #e24b33;
}

.row .adv.three .pracent {
  background-color: #e1a661;
}

.container_4 {
  margin-top: 110px;
}

.container_4 .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 40px;
}

.container_4 .head .heading {
  line-height: 1;
  font-size: clamp(19px, 5vw, 40px);
}

.container_4 .head .articles-cta {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container_4 .head .articles-cta:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container_4 .head .articles-cta .svg-arrow-right-dims {
  width: 27px;
  height: 14px;
}

.container_4 .row {
  margin: 0 -10px;
  row-gap: 20px;
}

.container_4 .row .column {
  width: 100%;
  height: auto;
  border: none;
}

.container_4 .row .card {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.container_4 .row .card .date {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #8f8f8f;
}

.container_4 .row .card .title {
  margin-top: 12px;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.container_4 .row .card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.container_4 .row .card .div_img {
  width: 100%;
  overflow: hidden;
}

.container_4 .row .card .div_img img {
  width: 100%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container_4 .row .card .div_img:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

@-webkit-keyframes animes {
  from {
    right: 50px;
    bottom: 20px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }

  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes animes {
  from {
    right: 50px;
    bottom: 20px;
  }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }

  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

.message {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  right: 30px;
  z-index: 4;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-animation: animes 2s 7;
          animation: animes 2s 7;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  display: none;
}

.modal__wrapper .modal {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  height: 350px;
  width: 350px;
}

.modal__wrapper .modal__title {
  text-align: center;
}

.modal__wrapper .modal__title span {
  text-transform: uppercase;
  font-family: f2;
}

.modal__wrapper .modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.modal__wrapper .modal__body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__wrapper .modal__body form .text-area {
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #f8f8f8;
  font-size: 17px;
  padding: 10px;
  margin-bottom: 20px;
}

.modal__wrapper .modal__body form .text-area:focus {
  outline: none;
  border-color: #719ece;
  -webkit-box-shadow: 0 0 10px #719ece;
          box-shadow: 0 0 10px #719ece;
}

.modal__wrapper .modal__body form .btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 30px;
  background-color: rgb(82, 171, 245);
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.modal__wrapper .modal__body form .btn-submit:hover {
  opacity: 0.7;
}

.modal__wrapper .modal__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (min-width: 369.98px) {
  .wrapper-content {
    max-width: calc(100% - 60px);
  }
}

@media (min-width: 767.98px) {
  .slider .prev {
    left: 24px;
  }

  .item .info {
    margin-left: 126px;
    text-align: start;
    padding: 40px 0;
  }

  .popular .row .column {
    width: 33.33333%;
  }

  .row .column {
    width: 50%;
  }

  .row.second .column {
    width: 50%;
    margin-bottom: 20px;
  }

  .container_4 .row .column {
    width: 36%;
    margin: 0 auto;
  }
}

@media (min-width: 1023.98px) {
  .wrapper-content {
    width: 1300px;
  }

  .banner {
    margin-top: 20px;
  }

  .popular .heading.lv2 {
    font-size: 3rem;
  }

  .popular .row .column {
    width: 16.66667%;
  }

  .container_3 .heading.lv2 {
    font-size: 3rem;
  }

  .container_3 .heading.lv2.title {
    margin-bottom: 10px;
  }

  .row .column {
    width: 25%;
  }

  .row.second .column {
    width: 33.33333%;
  }

  .container_4 .row .column {
    width: 25%;
  }
}

@media (max-width: 1189.98px) {
  .header-down .menu-wrapper ul {
    gap: 20px;
  }
}

@media (max-width: 1023.98px) {
  .header-down .menu-wrapper ul {
    gap: 18px;
  }

  .popular .heading.lv2 {
    font-size: 35px;
  }

  .container_3 .heading.lv2 {
    font-size: 35px;
  }

  .message {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 991.98px) {
  .header-up .container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header-up .left {
    display: none;
  }

  .header-up .right {
    display: none;
  }

  .header-down .search {
    width: 100%;
  }

  .header-down .search input {
    width: 100%;
  }

  .menu__item-link {
    font-size: 18px;
    color: black !important;
    text-shadow: 1px 1px 2px #9399e1, 0 0 1em #dfb95d, 0 0 0.2em #9399e1;
  }

  .menu__item-link:after {
    background-color: #2196f3;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background-color: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.2s linear;
            animation: fade 0.2s linear;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3bb55), to(#9198e5));
    background: -o-linear-gradient(#e3bb55, #9198e5);
    background: linear-gradient(#e3bb55, #9198e5);
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .burger.active:before {
    background: #fefefe;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background-color: #fefefe;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #131418;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #131418;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media (max-width: 767.98px) {
  .header-down .search input::-webkit-input-placeholder {
    text-align: center;
  }
  .header-down .search input::-moz-placeholder {
    text-align: center;
  }
  .header-down .search input:-ms-input-placeholder {
    text-align: center;
  }
  .header-down .search input::-ms-input-placeholder {
    text-align: center;
  }
  .header-down .search input::placeholder {
    text-align: center;
  }

  .header-down .search input {
    text-align: center;
  }

  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item .info {
    margin-left: 50px;
    margin-top: 15px;
  }

  .popular .heading.lv2 {
    font-size: clamp(15px, 5vw, 25px);
  }

  .container_3 .heading.lv2 {
    font-size: clamp(15px, 5vw, 25px);
    margin-bottom: 30px;
  }

  .container_3 .btns {
    display: none;
  }

  .row .column .card .foot .choose .toggle-list .item.active {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .container_4 .row .column {
    width: 50%;
  }

  .message {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 479.98px) {
  .header-up .mid .svg-logo-dims {
    width: 150px;
    height: 30px;
  }

  .container_4 .row .column .title {
    font-size: 14px;
  }
}